.info-saler {
  background-color: var(--color-off-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 16px;

  > div > span {
    margin-left: 8px;
    &.text {
      color: var(--color-gray2);
    }
  }
}
