.home-template {
  height: 100%;
  position: relative;
  main {
    height: 100%;
  }
  ul {
    height: calc(100% - 56px);
    overflow-y: auto;
    li {
      border-bottom: 1px solid var(--color-gray3);
    }
  }
  .fab-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
