@import "./font.scss";

:root {
  --color-title-active: #222222;
  --color-gray1: #888888;
  --color-gray2: #bbbbbb;
  --color-gray3: #d7d7d7;
  --color-gray5: #e0e0e0;
  --color-off-white: #f6f6f6;
  --color-white: #ffffff;
  --color-primary1: #2ac1bc;
  --color-primary2: #a0e1e0;
  --color-primary3: #219a95;
  --color-red: #f45452;
}

* {
  box-sizing: border-box;
  color: var(--color-title-active);
}

html {
  font-family: "NotoSansKR";
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

#app {
  width: 375px;
  height: 667px;
  border: 1px solid var(--color-gray3);
}
