button.status-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  width: 102px;
  height: 40px;
  border: 1px solid var(--color-gray5);
  background-color: var(--color-white);
  border-radius: 8px;
}
